In [2]:
import pandas as pd
import numpy as np

In [7]:
date_range = pd.DatetimeIndex(np.arange('2020-01-01','2020-02-01',dtype='datetime64[D]'))
date_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[s]', freq=None)

In [9]:
data_range = pd.date_range('2020-01-01',periods=31)
data_range

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

In [10]:
date_range = pd.date_range('2020-01-06',periods=52,freq='W-MON')
date_range

DatetimeIndex(['2020-01-06', '2020-01-13', '2020-01-20', '2020-01-27',
               '2020-02-03', '2020-02-10', '2020-02-17', '2020-02-24',
               '2020-03-02', '2020-03-09', '2020-03-16', '2020-03-23',
               '2020-03-30', '2020-04-06', '2020-04-13', '2020-04-20',
               '2020-04-27', '2020-05-04', '2020-05-11', '2020-05-18',
               '2020-05-25', '2020-06-01', '2020-06-08', '2020-06-15',
               '2020-06-22', '2020-06-29', '2020-07-06', '2020-07-13',
               '2020-07-20', '2020-07-27', '2020-08-03', '2020-08-10',
               '2020-08-17', '2020-08-24', '2020-08-31', '2020-09-07',
               '2020-09-14', '2020-09-21', '2020-09-28', '2020-10-05',
               '2020-10-12', '2020-10-19', '2020-10-26', '2020-11-02',
               '2020-11-09', '2020-11-16', '2020-11-23', '2020-11-30',
               '2020-12-07', '2020-12-14', '2020-12-21', '2020-12-28'],
              dtype='datetime64[ns]', freq='W-MON')

In [14]:
date_range = pd.date_range('2021-01-01 00:00:00',periods = 24,freq='h')
date_range

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='h')

In [37]:
column = ['day',"day_of_year"]
data ={'day':pd.Series(pd.date_range('2021-03-01',periods=31)),'day_of_year':pd.Series(np.arange(60,91))}
date = pd.DataFrame(data,columns=column)
date

          day  day_of_year
0  2021-03-01           60
1  2021-03-02           61
2  2021-03-03           62
3  2021-03-04           63
4  2021-03-05           64
5  2021-03-06           65
6  2021-03-07           66
7  2021-03-08           67
8  2021-03-09           68
9  2021-03-10           69
10 2021-03-11           70
11 2021-03-12           71
12 2021-03-13           72
13 2021-03-14           73
14 2021-03-15           74
15 2021-03-16           75
16 2021-03-17           76
17 2021-03-18           77
18 2021-03-19           78
19 2021-03-20           79
20 2021-03-21           80
21 2021-03-22           81
22 2021-03-23           82
23 2021-03-24           83
24 2021-03-25           84
25 2021-03-26           85
26 2021-03-27           86
27 2021-03-28           87
28 2021-03-29           88
29 2021-03-30           89
30 2021-03-31           90

In [41]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
index = pd.date_range('2020-01-01',periods=1000)
df = pd.DataFrame(data_dict,index=index)
df

              normal   uniform  binomial
2020-01-01 -0.772175  0.856411         1
2020-01-02  0.924918  0.072830         0
2020-01-03 -0.561302  0.640321         0
2020-01-04 -0.376010  0.005723         0
2020-01-05  0.942378  0.404145         0
...              ...       ...       ...
2022-09-22  0.898651  0.575237         0
2022-09-23 -0.356135  0.641910         0
2022-09-24  0.034333  0.773599         1
2022-09-25 -0.532322  0.172542         0
2022-09-26  0.088490  0.299768         0

[1000 rows x 3 columns]

In [43]:
#df.iloc[:10]
df.head(10)

              normal   uniform  binomial
2020-01-01 -0.772175  0.856411         1
2020-01-02  0.924918  0.072830         0
2020-01-03 -0.561302  0.640321         0
2020-01-04 -0.376010  0.005723         0
2020-01-05  0.942378  0.404145         0
2020-01-06  0.707262  0.592156         0
2020-01-07 -1.060451  0.860458         0
2020-01-08 -1.062991  0.042346         0
2020-01-09  0.560462  0.106728         0
2020-01-10 -1.093242  0.133059         0

In [48]:
#df.iloc[-5:]
df.tail()

              normal   uniform  binomial
2022-09-22  0.898651  0.575237         0
2022-09-23 -0.356135  0.641910         0
2022-09-24  0.034333  0.773599         1
2022-09-25 -0.532322  0.172542         0
2022-09-26  0.088490  0.299768         0

In [49]:
pd.DataFrame.info(df)

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2020-01-01 to 2022-09-26
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   normal    1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int32
dtypes: float64(2), int32(1)
memory usage: 27.3 KB

In [50]:
pd.DataFrame.describe(df)

            normal      uniform     binomial
count  1000.000000  1000.000000  1000.000000
mean     -0.011306     0.510154     0.176000
std       0.978771     0.284409     0.381011
min      -3.819600     0.000179     0.000000
25%      -0.635818     0.270666     0.000000
50%       0.014251     0.518399     0.000000
75%       0.643427     0.756185     0.000000
max       3.097081     0.999330     1.000000

In [54]:
df['binomial'].value_counts()

binomial
0    824
1    176
Name: count, dtype: int64

In [58]:
df50 = df[:50]
df50.to_csv("dataframe50.csv")

In [66]:
df_new=pd.read_csv('dataframe50.csv',index_col=0)
df_new

              normal   uniform  binomial
2020-01-01 -0.772175  0.856411         1
2020-01-02  0.924918  0.072830         0
2020-01-03 -0.561302  0.640321         0
2020-01-04 -0.376010  0.005723         0
2020-01-05  0.942378  0.404145         0
2020-01-06  0.707262  0.592156         0
2020-01-07 -1.060451  0.860458         0
2020-01-08 -1.062991  0.042346         0
2020-01-09  0.560462  0.106728         0
2020-01-10 -1.093242  0.133059         0
2020-01-11  0.337669  0.047028         0
2020-01-12 -0.082609  0.868456         0
2020-01-13 -0.348096  0.896564         0
2020-01-14  0.642804  0.289020         0
2020-01-15 -0.960674  0.484018         1
2020-01-16 -0.080242  0.385825         0
2020-01-17  0.707722  0.445009         0
2020-01-18  0.406167  0.943139         0
2020-01-19  0.259797  0.961683         0
2020-01-20 -0.256545  0.851828         0
2020-01-21 -0.565094  0.779564         0
2020-01-22  0.242111  0.598070         0
2020-01-23  0.988939  0.831315         1
2020-01-24  1.510508  0.545482         0
2020-01-25  0.329745  0.636625         0
2020-01-26 -0.119847  0.032424         1
2020-01-27 -0.424370  0.274455         1
2020-01-28 -0.077948  0.945994         0
2020-01-29 -2.060204  0.262125         0
2020-01-30  0.737100  0.220391         0
2020-01-31 -1.871462  0.450672         1
2020-02-01  1.034022  0.063105         0
2020-02-02 -0.252941  0.620101         0
2020-02-03 -0.651162  0.056016         0
2020-02-04  0.246595  0.466099         0
2020-02-05  0.085772  0.441699         0
2020-02-06 -0.449416  0.629858         1
2020-02-07  1.081532  0.127363         0
2020-02-08 -0.253876  0.449520         0
2020-02-09  0.125960  0.654754         0
2020-02-10  1.158913  0.188698         0
2020-02-11 -0.243587  0.144031         0
2020-02-12  0.093324  0.549700         0
2020-02-13 -0.241998  0.291346         0
2020-02-14 -1.400023  0.966091         0
2020-02-15 -0.679665  0.703052         0
2020-02-16  2.014371  0.521497         0
2020-02-17 -0.692184  0.854947         0
2020-02-18  0.493632  0.622166         0
2020-02-19 -0.443318  0.937522         0